if SHIELD_SILVERHAND_LEFT


config ZMK_KEYBOARD_NAME
    default "silverhand"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SILVERHAND_LEFT || SHIELD_SILVERHAND_RIGHT

config ZMK_SPLIT
    default y

endif