# No whitespace after the comma or in your part name!
config SHIELD_SILVERHAND_LEFT
    def_bool $(shields_list_contains,silverhand_left)

# No whitespace after the comma or in your part name!
config SHIELD_SILVERHAND_RIGHT
    def_bool $(shields_list_contains,silverhand_right)